@import '~normalize-css/normalize.css';
@import '~@angular/material/theming';
@include mat-core();

$judge-app-primary: mat-palette($mat-red);
$judge-app-accent: mat-palette($mat-orange, A200, A100, A400);
$judge-app-warn: mat-palette($mat-yellow);
$judge-app-theme: mat-light-theme($judge-app-primary, $judge-app-accent, $judge-app-warn);

@include angular-material-theme($judge-app-theme);

md-toolbar md-select {
  .mat-select-arrow,
  .mat-select-value,
  .mat-select-trigger {
    color: white;
  }
  .mat-select-underline {
    background-color: white;
  }

}
