.container {
  padding: 10px;

  label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  .advanced {
    md-select {
      width: 100%;
      margin: 20px 0;
    }
  }

  div.simple {
    text-align: center;
    font-size: 200%;
  }

  .right {
    float: right;
    margin-left: 10px;
  }
}
