<div class="step1" *ngIf="step == 1">
  <md-card class="player" *ngFor="let playerIds of players; let i = index">
    <md-card-title>Player {{playerIds.name}}</md-card-title>
    <md-card-content>
      <div><b>Type:</b> <span>{{player.getTypes()[playerIds.type]}}</span></div>
      <div><b>Personality:</b> <span>{{player.getPersonalities()[playerIds.personality]}}</span></div>
      <div *ngIf="i == 0"><b>On purpose:</b> <span>{{player.getGuilts()[playerIds.guilty]}}</span></div>
      <div *ngIf="i == 1"><b>Opinion:</b> <span>{{player.getOpinions()[playerIds.opinion]}}</span></div>
    </md-card-content>
  </md-card>
  <md-card class="scenario" *ngIf="scenarios[scenarioId]">
    <md-card-subtitle>{{scenarios[scenarioId].topic}}</md-card-subtitle>
    <md-card-title>{{scenarios[scenarioId].title}}</md-card-title>
    <md-card-content>
      <span>{{scenarios[scenarioId].description}}</span><br>
      <span *ngIf="scenarios[scenarioId].example">
        <i>Example: {{scenarios[scenarioId].example}}</i>
      </span>
    </md-card-content>
  </md-card>

  <button md-raised-button routerLink="/random-situation-generator">Back</button>
  <button md-raised-button color="primary" (click)="next()">Done</button>
</div>

<div class="step2" *ngIf="step == 2">
  <md-card class="tournament" *ngIf="tournaments[tournamentId]">
    <md-card-subtitle>REL {{tournaments[tournamentId].rel}}</md-card-subtitle>
    <md-card-title>{{tournaments[tournamentId].title}}</md-card-title>
    <md-card-content>
      <span>{{tournaments[tournamentId].description}}</span><br>
      <i>Staff: <span>{{tournaments[tournamentId].staff}}</span></i>
    </md-card-content>
  </md-card>

  <button md-raised-button (click)="previous()">Back</button>
  <button md-raised-button color="primary" routerLink="/random-situation-generator">Restart</button>
</div>

