.container {
  padding: 10px;

  label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  .advanced {
    md-select {
      width: 100%;
      margin: 20px 0;
    }
  }

  div.simple {
    text-align: center;
    font-size: 200%;
  }

  .right {
    float: right;
    margin-left: 10px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .buttons > * {
    margin-left: 10px;
    flex-shrink: 0;
    @media (max-width: 600px) {
      width: 100%;
      margin: 0 0 10px;
    }
  }
  .buttons > *:first-child {
    margin-left: 0;
  }
  .buttons .gap {
    flex-grow: 1;
    margin: 0;
  }
}
