<div class="container">
  <form (submit)="onSubmit()">

    <div [hidden]="advanced" class="simple">
      <p translate>text.config</p>
      <button md-raised-button color="primary" type="submit">{{'labels.generateSituation' | translate}}</button>
      <button type="button" md-raised-button (click)="showFaq()">{{'labels.faq' | translate}}</button>
      <button type="button" md-raised-button (click)="advanced=1">{{'labels.advancedOptions' | translate}}</button>
    </div>

    <div [hidden]="!advanced" class="advanced">
      <md-select [(ngModel)]="scenario" name="scenario" id="scenario" placeholder="{{'labels.scenario' | translate}}">
        <md-option [value]="null" translate>labels.random</md-option>
        <md-option *ngFor="let elem of scenarios | unique:['topic']" [value]="elem">{{elem.topic}}</md-option>
      </md-select>

      <md-grid-list cols="3" rowHeight="70px">
        <md-grid-tile>
          <md-select [(ngModel)]="players[0].type" name="playerAType"
                     placeholder="{{'labels.playerA' | translate}} {{'labels.type' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getTypes(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select [(ngModel)]="players[0].personality" name="playerAPersonality"
                     placeholder="{{'labels.playerA' | translate}} {{'labels.personality' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getPersonalities(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select [(ngModel)]="players[0].guilty" name="playerAGuilty"
                     placeholder="{{'labels.playerA' | translate}} {{'labels.onPurpose' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getGuilts(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="3" rowHeight="70px">
        <md-grid-tile>
          <md-select [(ngModel)]="players[1].type" name="playerBType"
                     placeholder="{{'labels.playerB' | translate}} {{'labels.type' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getTypes(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select [(ngModel)]="players[1].personality" name="playerBPersonality"
                     placeholder="{{'labels.playerB' | translate}} {{'labels.personality' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getPersonalities(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
        <md-grid-tile>
          <md-select [(ngModel)]="players[1].opinion" name="playerBOpinion"
                     placeholder="{{'labels.playerB' | translate}} {{'labels.opinion' | translate}}">
            <md-option [value]="null" translate>labels.random</md-option>
            <md-option *ngFor="let elem of player.getOpinions(); let i = index" [value]="i">{{elem}}</md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>

      <md-select [(ngModel)]="tournament" name="tournament" placeholder="{{'labels.tournament' | translate}}">
        <md-option [value]="null" translate>labels.random</md-option>
        <md-option *ngFor="let elem of tournaments" [value]="elem">{{elem.title}}</md-option>
      </md-select>

      <div class="buttons">
        <button md-raised-button color="primary" type="submit">{{'labels.generateSituation' | translate}}</button>
        <span class="gap"></span>
        <button type="reset" md-raised-button (click)="advanced=0">{{'labels.simpleOptions' | translate}}</button>
        <a md-raised-button href="https://github.com/bra1n/judgetoolbox/" target="_blank" translate>{{'labels.source' | translate}}</a>
      </div>
    </div>


  </form>
</div>
