<h2>Random Situation Generator</h2>

<form (submit)="onSubmit()">
  Scenario:
  <select [(ngModel)]="scenario" name="scenario">
    <option [ngValue]="null">Random</option>
    <option *ngFor="let elem of scenarios | unique:['title']" [ngValue]="elem">
      {{elem.title}}
    </option>
  </select><br>

  Player A:
  <select [(ngModel)]="playerA" name="playerA">
    <option [ngValue]="null">Random</option>
    <option *ngFor="let elem of players | unique:['type','personality','guilty']" [ngValue]="elem">
      {{elem.type}} - {{elem.personality}} - {{elem.guilty ? 'Guilty':'Not Guilty'}}
    </option>
  </select><br>

  Player B:
  <select [(ngModel)]="playerB" name="playerB">
    <option [ngValue]="null">Random</option>
    <option *ngFor="let elem of players | unique:['type','personality','opinion']" [ngValue]="elem">
      {{elem.type}} - {{elem.personality}} - {{elem.opinion}}
    </option>
  </select><br>

  Tournament:
  <select [(ngModel)]="tournament" name="tournament">
    <option [ngValue]="null">Random</option>
    <option *ngFor="let elem of tournaments" [ngValue]="elem">
      {{elem.title}}
    </option>
  </select><br>

  <button type="submit">Generate Situation</button>
</form>
