.container {
  padding: 10px;

  label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  select {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
